<div>
    <form method="post">
        <h1>Login</h1>

        <form method="post">
            <div class="LoginForm--inputGroup">
                <input class="LoginForm--inputGroupInput" type="text" placeholder="Username" name="username">
            </div>

            <div class="LoginForm--inputGroup">
                <input class="LoginForm--inputGroupInput" type="password" placeholder="Password" name="password">
            </div>

            <input class="btn btn-success" type="submit" value="Log in">
        </form>
    </form>
</div>

