
.Logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100%;
}

.Header--body {
  background-color: #3F51B5;
  height: 20px;
  padding: 20px;
  color: #fff;
}

.Title {
  font-size: 1.5em;
}

